            .calendario__jogo {
                border: 1px solid #f6f6f6;
                width: 10%;
                border-radius: 20px 5px;
                background-color: rgb(38, 28, 34);
                overflow: hidden;
            }
            
            .calendario__jogo-link {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                padding: 20px 8%;
                box-sizing: border-box;
                text-decoration: none;
                color: #f6f6f6;
            }
            
            .calendario__jogo:hover {
                transition-duration: .1s;
                background-color: rgb(64, 53, 58);
            }
            
            .calendario__jogo-titulo {
                font-size: .85rem;
                font-weight: 600;
            }