.corpo {
    margin: 0 13%;
    /* background: #2B0101;
    background: -webkit-radial-gradient(bottom, #2B0101, #010101);
    background: -moz-radial-gradient(bottom, #2B0101, #010101);
    background: radial-gradient(to top, #2B0101, #010101);*/
    background-color: #1b0000;
}