.tag {
    text-transform: lowercase;
    color: #da1c47;
    font-size: 0.85rem;
    font-weight: 600;
}

.tag::after {
    content: ",";
}

.tag::before {
    content: '#';
}

.tag:last-child::after {
    content: "";
}